
body {
    --font: "Google Sans Flex";
    --code-font: "DepartureMono Nerd Font";
    font-weight: 400;

    --gap: 12px;
    --divider-thickness: 4px;
    --border-thickness: 1px;

    --animations: off;

    --top-bar-height: var(--gap);
    --top-bar-button-position: titlebar;
    --top-bar-title-position: off;
    --subtle-top-bar-title: off;

    --custom-window-controls: on;
    --window-control-size: 14px;

    --custom-dms-icon: custom;
    --dms-icon-svg-url: url("https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg");
    --dms-icon-svg-size: 90%;
    --dms-icon-color-before: var(--icon-subtle);
    --dms-icon-color-after: var(--white);

    --custom-dms-background: off;

    --background-image: off;

    --transparency-tweaks: off;
    --remove-bg-layer: off;
    --panel-blur: off;

    --custom-chatbar: off;
    --chatbar-height: 47px;

    --small-user-panel: off;
}

*,
*::before,
*::after {
    animation-delay: 0s !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}
